body , html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: lightblue;
} 

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 75vh;
    background-color: black;
    border-radius: 3vh;
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 5vh;
    width: 25vw;
    height: 12.5vh;
    background-color: white;
    border-radius: 3vh;
}

.result {
    color: black;
    font-size: 7.5vh;
    padding: 3vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin-top: 5vh;
    width: 48vh;
    height: 48vh;
    border-radius: 3vh;
}

.row {
    display: flex;
    border-radius: 3vh;
    gap: 1.35vw;
    padding: 0;
}

.but {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    font-size: 5.5vh;
    font-weight: bold;
    background-color: white;
}